*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body{
    height: 100%;
    width: 100%;
}

nav{
    position: fixed;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2vw 10.4vw;
    justify-content: space-between;
    background-color: #111111;
    z-index: 10;
}

.nav-part-2{
    display: flex;
}

.nav-part-2 h4{
    font-size: 1vw;
    font-weight: 400;
    padding-left: 2vw;
}

nav:hover .nav-bottom{
    height: 200%;
    bottom: -200%;
    background-color: #111111;
}

nav:hover .nav-bottom h5 span{
    opacity: 1;
}

.nav-bottom{
    height: 0%;
    width: 80%;
    position: absolute;
    bottom: 0%;
    transition: all 0.5s ease;
    border-bottom: 2px solid white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 15vw;
    /* padding-top: 6vw; */
}

nav button{
    background-color: #35A34D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: none;
    /* width: 8vw; */
    height: 5vh;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 0.7rem;
    text-transform: uppercase;
}


nav button svg{
    height: 1rem;
    margin-left: 3vw;
}
.bottom-div{
    margin-top: 2vh;
}

.bottom-div h5{
    margin-bottom: 0.5vh;
    overflow: hidden;
}



.bottom-div h5 span{
    font-size: 1vw;
    font-weight: 400;
    display: inline-block;
    opacity: 0;
    transition: all 0.5s ease-out;
}


.page-1{
    height: 100vh;
    width: 100vw;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-1 h1{
    font-size: 8.5vw;
    font-weight: 900;
    line-height: 8.5vw;
}

.page-1 h1 svg{
    height: 6vw;
    width: 6vw;
    background-color: #35A34D;
    border-radius: 50%;
}

.page-1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
}

.page-1-btn{
    display: flex;
    align-items: center;
    justify-self: center;
}

.page-1-btn h4{
    font-size: 1vw;
    font-weight: 400;
    padding: 5px 10px;
    border: 1px solid rgb(119, 118, 118);
    border-radius: 50px;
    margin-top: 1vh;
}

.page-1-btn h4:nth-last-child(2){
    border: none;
    padding: 2px;
}


.moving-div{
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    /* display: flex; */
    width: 53%;
    white-space: nowrap;
    padding: 2vw;
    overflow: hidden;
}

@keyframes move {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.move{
    display: inline-block;
    animation-name: move;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.move img{
    height: 1.5vw;
    margin: 0 1vw;
}

.blur-left{
    width: 20%;
    background: linear-gradient(to left,transparent,#111111);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.blur-right{
    width: 20%;
    background: linear-gradient(to right,transparent,#111111);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.page-2{
    height: 100vh;
    width: 100vw;
    background-color: #111111;
    position: relative;
    padding: 0vw 10.5vw;
    padding-bottom: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #333;
}

.page2-left{
    height: 100%;
    width: 40%;
    display: flex;
    padding: 3vw 0;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.page2-left p{
    font-size: 1vw
}

.page2-left h5{
    width: 70%;
    font-size: 1vw;
    font-weight: 400;
    font-size: 1.1vw
}

.page2-right{
    height: 100%;
    width: 50%;
}

.right-elem{
    display: flex;
    position: relative;
    padding-top: 2vw;
    padding-bottom: 5vw;
    border-bottom: #333 2px solid;
}

.right-elem h2{
    font-size: 1.4rem;
    font-weight: 400;
}

.right-elem img{
    margin-left: 25vw;
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
}

.page-3{
    height: 100vh;
    width: 100%;
    /* background-color: #111111; */
    position: relative;
    /* background-color: #111111; */
    background-image: url(assets/vid-thumnail.webp);
    background-size: cover;
}

/* .page-3 img{

} */